{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="page-div">
        {% if user.is_authenticated %}
        <div id="new-post-div">
        <form>
            <textarea placeholder="What's on your mind?"></textarea>
            <button class="btn btn-secondary" type="submit">Post</button>
        </form>
        </div>
        {% endif %}
        <div id="feed-div">
            <ul>
                {% for post in page %}
                <article>
                    <div class="post-main">
                        <div class="post-top">
                            <!-- Päivitä tämä! -->
                            <img src="{{ post.user.getStaticURL }}" alt="image">
                            {{ post.user.username }}
                        </div>
                        <div class="post-content">
                            {{ post.content }}
                        </div>
                        <div class="post-bottom">
                            <div>
                                <button>Like</button>
                            </div>
                            <div class="timestamp">
                                {{ post.time }}
                            </div>
                        </div>
                    </div>
                    <div class="post-all-comments" data-post-id="{{ post.id }}">
                    </div>
                    {% if user.is_authenticated %}
                    <div class="post-add-comment">
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="Submit" class="btn btn-secondary" value="Comment">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="page" value="{{ page.number }}">
                        </form>
                    </div>
                    {% endif %}
                </article>
                {% endfor %}
            </ul>
        </div>
        <div class="page-bottom-div">
            <div id="previous-page-div">
                {% if page.has_previous %}
                <form action="{% url 'index' %}" method="GET">
                    <input type="submit" class="btn btn-secondary" value="Previous Page">
                    <input type="hidden" name="page" value="{{ page.previous_page_number }}">
                </form>
                {% endif %}
            </div>
            <div id="next-page-div">
                {% if page.has_next %}
                <form action="{% url 'index' %}" method="GET">
                    <input type="submit" class="btn btn-secondary" value="Next Page">
                    <input type="hidden" name="page" value="{{ page.next_page_number }}">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
