{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="page-div">
        {% if feed_to_show == "PROFILE" %}
        <div id="left-side-div">
            {% include "network/profile.html" with profile_user=profile_user %}
        </div>
        {% endif %}
        <div id="right-side-div">
            <div id="centre-div">
                {% if user.is_authenticated and user.id == profile_user.id or user.is_authenticated and profile_user == None %}
                <div id="new-post-div">
                <form action="{% url 'network:makeNewPost' %}" method="post">
                    {% csrf_token %}
                    {{ new_post_form }}
                    <button class="btn btn-secondary" type="submit">Post</button>
                </form>
                </div>
                {% endif %}
                <div id="feed-div">
                    <ul>
                        {% for post in page %}
                        <article>
                            <div class="post-main">
                                <div class="post-top" data-post-user-id="{{ post.user.id }}">
                                    <div class="post-image">
                                        <img src="{{ post.user.getStaticURL }}" alt="image">
                                    </div>
                                    <div class="post-username">
                                        <a href="{% url 'network:profileView' post.user.id %}">{{ post.user.username }}</a>
                                    </div>
                                </div>
                                <div class="post-content">
                                    {{ post.content }}
                                </div>
                                <div class="post-bottom" data-post-id="{{ post.id }}">
                                    <div class="timestamp">
                                        {{ post.time }}
                                    </div>
                                </div>
                            </div>
                            <div class="post-all-comments" data-post-id="{{ post.id }}">
                            </div>
                            {% if user.is_authenticated %}
                            <div class="post-add-comment">
                                <form action="{% url 'network:index' %}" method="post">
                                    {% csrf_token %}
                                    {{ comment_form }}
                                    <input type="Submit" class="btn btn-secondary" value="Comment">
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <input type="hidden" name="page" value="{{ page.number }}">
                                </form>
                            </div>
                            {% endif %}
                        </article>
                        {% endfor %}
                    </ul>
                </div>
                <div class="page-bottom-div">
                    <div id="previous-page-div">
                        {% if page.has_previous %}
                        <form action="{% url 'network:index' %}" method="GET">
                            <input type="submit" class="btn btn-secondary" value="Previous Page">
                            <input type="hidden" name="page" value="{{ page.previous_page_number }}">
                        </form>
                        {% endif %}
                    </div>
                    <div id="next-page-div">
                        {% if page.has_next %}
                        <form action="{% url 'network:index' %}" method="GET">
                            <input type="submit" class="btn btn-secondary" value="Next Page">
                            <input type="hidden" name="page" value="{{ page.next_page_number }}">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
