@keyframes show-div {
    0% {
        width: 100px;
    }
    100% {
        width: 300px;
    }
}

@keyframes on-change {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

@keyframes hide-div {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        max-height: 1000px;
    }
    100% {
        opacity: 0;
        max-height: 0px;
    }
}

#page-div {
    background-color: whitesmoke;
    display: flex;
    min-height: 100vh;
}

#left-side-div {
    background-color:blueviolet;
    min-height: 100vh;
    animation: show-div;
    animation-duration: 200ms;
    max-width: 300px;
}

#right-side-div {
    margin-inline: 10%;
    min-width: 800px;
    background-color: yellowgreen;
    margin-left: auto;
    margin-right: auto;
    animation: on-change;
    animation-duration: 1s;
}

#new-post-div {
    background-color: yellowgreen;
    height: 250px;
}

#new-post-div textarea {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    width: 80%;
    height: 130px;
    padding: 10px;
    background-color: lightgray;
}

#new-post-div button {
    position: relative;
    margin-left: 10%;
    bottom: -50px;
    width: 100px;
}

#feed-div {
    background-color: yellowgreen;
}

.post-and-comments {
    animation: hide-div;
    animation-play-state: paused;
    animation-duration: 1500ms;
}

.post-main {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: lightgray;
}

article img {
    max-height: 100px;
    max-width: 100px;
}

.post-top {
    display: grid;
    grid-template-columns: 100px 300px auto;
    height: fit-content;
}

.post-extra-buttons > * {
    float: right;
}

.post-username {
    font-weight: bold;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.post-username > * {
    color: black;
}

.post-username-follow {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.post-bottom .timestamp {
    font-style: italic;
    float: right;
}

.post-bottom button {
    float: left;
    margin-right: 5px;
}

.post-content {
    margin: 20px;
    white-space: pre-line;
    margin-bottom: 30px;
}

.post-content > textarea {
    width: 100%;
}

.page-bottom-div {
    overflow: hidden;
    margin-left: 50px;
    margin-right: 20px;
}

.page-bottom-div #previous-page-div {
    margin: 20px;
    background-color: chartreuse;
    float: left;

}

.page-bottom-div #next-page-div {
    margin: 20px;
    float: right;
}

.comment-container {
    background-color:gainsboro;
    display: grid;
    grid-template-columns: 120px auto;
    margin: 10px;
    border-style: dotted;
    margin-inline: 5%;
}

.comment-username {
    font-weight: bold;
}

.post-add-comment {
    background-color: yellowgreen;
    margin-left: 7%;
}

.post-add-comment input[type=text] {
    width: 80%;
    background-color: lightgray;
}

#profile-div {
    display: inline;
}

.profile-image img {
    width: 100%;
}

.profile-username {
    font-weight: bold;
    font-size: 40px;
    margin-left: 10px;
}

.profile-user-is-followed {
    margin-left: 10px;
}

.profile-user-follows {
    margin-left: 10px;
}

.like-info {
    animation: on-change;
    animation-duration: 500ms;
}

.not-found-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellowgreen;
    height: 500px;
    width: 900px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.not-found-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-found-title {
    font-size: 60px;
    font-weight: bold;
}

.not-found-reason {
    font-size: 30px;
    margin-top: 10px;
}

