#page-div {
    margin-inline: 10%;
    max-width: 1000px;
}

#new-post-div {
    background-color: yellowgreen;
    height: 250px;
}

#new-post-div textarea {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    width: 80%;
    height: 130px;
    padding: 10px;
    background-color: lightgray;
}

#new-post-div button {
    position: relative;
    margin-left: 10%;
    bottom: -50px;
    width: 100px;
}

#feed-div {
    background-color: yellowgreen;
}

.post-main {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: lightgray;
}

article img {
    width: 100px;
    height: auto;
}

.post-top {
    font-weight: bold;
    font-size: large;
}

.post-bottom .timestamp {
    font-style: italic;
    float: right;
}

.post-bottom button {
    float: left;
}

.post-content {
    margin: 20px;
}

.page-bottom-div {
    overflow: hidden;
    margin-left: 50px;
    margin-right: 20px;
}

.page-bottom-div #previous-page-div {
    margin: 20px;
    background-color: chartreuse;
    float: left;

}

.page-bottom-div #next-page-div {
    margin: 20px;
    float: right;
    background-color: chocolate;
}

.comment-container {
    background-color:gainsboro;
    display: grid;
    grid-template-columns: 120px auto;
    margin: 10px;
    border-style: dotted;
    margin-inline: 5%;
}

.comment-username {
    font-weight: bold;
}

.post-add-comment {
    background-color: yellowgreen;
    margin-left: 7%;
}

.post-add-comment input[type=text] {
    width: 80%;
    background-color: lightgray;
}
